<!-- All HTML was initially taken from https://github.com/Code-Institute-Solutions/Boutique-Ado/blob/master/05-The-Home-Page/Main-Site-Navigation/templates/includes/main-nav.html-->
<!-- All commits/changes after this were modified to suit the design of this project-->


<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>       
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="produce-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produce
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="produce-link">
                <a href="{% url 'products' %}?category=spring_summer" class="dropdown-item">Spring &amp; Summer</a>
                <a href="{% url 'products' %}?category=autumn_winter" class="dropdown-item">Autumn &amp; Winter</a>
                <a href="{% url 'products' %}?category=preserve" class="dropdown-item">Preserves</a>
                <a href="{% url 'products' %}?category=spring_summer,autumn_winter,preserve" class="dropdown-item">All Produce</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="agrikits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Agrikits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="agrikits-link">
                <a href="{% url 'products' %}?category=grow_kits" class="dropdown-item">GrowKits</a>
                <a href="{% url 'products' %}?category=harvest_kits" class="dropdown-item">HarvestKits</a>
                <a href="{% url 'products' %}?category=grow_tech" class="dropdown-item">GrowTech</a>
            </div>
        </li>
    </ul>
</div>